<div class="container" *ngIf="item">
  <div class="info">
    <img [src]="item.image" class="image" alt="nft image" />
    <div class="meta-data">
      <h3>{{item.name}}</h3>
      <div class="actions">
        <span>
          <ng-container *ngIf="bids.length">{{bids.length}} people have bidden</ng-container>
        </span>

        <!--
        <app-button label="1.1k"></app-button>
        <app-button label="..."></app-button>
        -->
      </div>
      <div class="bidding">
        <div class="overview">
          <div class="top">
            <h4>Top Bid</h4>
            <span>
              <ng-container *ngIf="(item.isAuction && !auctionEnded) || !item.isAuction">{{item.price | number: '1.2-2'}} MATIC</ng-container>
              <ng-container *ngIf="item.isAuction && auctionEnded">-</ng-container>
            </span>
          </div>

          <div class="ending" *ngIf="auctionEnd && !auctionEnded">
            <h4>Auction ending in</h4>
            <span>
              <ng-container *ngIf="auctionEnd.days">{{auctionEnd.days}}d {{auctionEnd.hours}}h</ng-container>
              <ng-container *ngIf="!auctionEnd.days && auctionEnd.hours">{{auctionEnd.hours}}h {{auctionEnd.minutes}}m</ng-container>
              <ng-container *ngIf="!auctionEnd.days && !auctionEnd.hours">{{auctionEnd.minutes}}m {{auctionEnd.seconds}}s</ng-container>
            </span>
          </div>
          <div *ngIf="auctionEnd && auctionEnded">
            <h4>Auction ended</h4>
            <span>-</span>
          </div>
        </div>
        <ng-container *ngIf="!item.sold && item.isAuction && !auctionEnded">
          <app-button [isRound]="true"
                      label="Place a Bid"
                      class="buy-button"
                      (click)="open()"></app-button>
        </ng-container>
        <ng-container *ngIf="!item.sold && !item.isAuction">
          <app-button [isRound]="true"
                      label="Buy Item"
                      class="buy-button"
                      (click)="open()"></app-button>
        </ng-container>
      </div>
      <div class="description">{{item.description}}</div>
    </div>
  </div>

  <div class="history" *ngIf="bids.length > 0">
    <div class="box price">
      <h6>Price History</h6>
      <p class="sub-title">Top Bid</p>
      <p>
        <span class="bid">{{item.price | number: '1.2-2'}} MATIC</span>
        <span class="change">+{{bidPercentageChange}}% than before</span>
      </p>

      <!--The content below is only a placeholder and can be replaced.-->
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [dataLabels]="chartOptions.dataLabels"
          [yaxis]="chartOptions.yaxis"
          [labels]="chartOptions.labels"
          [legend]="chartOptions.legend"
          [title]="chartOptions.title"
          [subtitle]="chartOptions.subtitle"
          [theme]="chartOptions.theme"
          [grid]="chartOptions.grid"
          [colors]="chartOptions.colors"
          [markers]="chartOptions.markers"
        ></apx-chart>
      </div>
    </div>

    <div class="box bids">
      <h6>Bid History</h6>
      <p class="sub-title">{{bids.length}} Bids</p>

      <div class="table">
        <div class="header row">
          <div>Price</div>
          <div>Time</div>
          <div>Bidder</div>
        </div>

        <div class="body">
          <div class="row" *ngFor="let bid of bids">
            <div>{{bid.bid}}</div>
            <div>{{bid.timeAgo | number: '1.0-0'}} {{bid.timeFormat}} ago</div>
            <div>{{bid.bidder}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <app-items-slider [showFilter]="false" subTitle="More from this Collection"></app-items-slider>
</div>

<app-modal *ngIf="item"
           [actualBid]="item.price"
           [error]="bidTransactionError"
           (newBid)="bidOnAuction($event)"
></app-modal>
