.sportscast {
  background: #01021f;
  padding: 60px 0;
}

.tabs-filter {
  display: flex;
  align-items: center;
  margin: 0 -8px;
}

.tabs-filter li {
  padding: 0 8px;
}

.tabs-filter li a {
  display: inline-flex;
  align-items: center;
  padding: 1px;
  border-radius: 16px;
}

.tabs-filter li a span {
  display: inline-flex;
  align-items: center;
  background: #2a263f;
  border: 1px solid #2a263f;
  border-radius: 16px;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  padding: 8px 16px;
}

.tabs-filter li a:hover,
.tabs-filter li a.active {
  background: linear-gradient(81.18deg, #383bfe -47.26%, #902cf2 100%);
}

.sportscast .control .swiper-button-next,
.sportscast .control .swiper-button-prev {
  position: relative;
  bottom: 0;
  right: 0;
  margin: 0;
  left: 0;
}

.sportscast .control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: none;
}

.swiper-button-next svg {
  transform: rotate(180deg);
}

.sportscast .control .swiper-button-next,
.sportscast .control .swiper-button-prev {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.sportscast .control .swiper-button-prev {
  margin-right: 1.5rem;
}

.sportscast .control [class*="swiper-button"]:hover {
  background: linear-gradient(81.18deg, #383bfe -47.26%, #902cf2 100%);
  border: transparent;
  opacity: 1;
  cursor: pointer;
}

.our-artwork .tabs-filter {
  justify-content: center;
}

.our-artwork {
  padding: 60px 0;
  background: #01021f;
}

.our-artwork [class*="col-"] {
  margin-top: 30px;
}

.our-artwork .tabs-filter li a {
  background: transparent;
  display: inline-flex;
}

.our-artwork .tabs-filter li a:hover span,
.our-artwork .tabs-filter li a.active span {
  background: linear-gradient(81.18deg, #383bfe -47.26%, #902cf2 100%);
}

.swiper {
  .row {
    margin-top: 2rem;
  }
}

.rotate {
  transform: rotate(180deg);
}

.our-artwork {
  .btn-outline-primary {
    margin: 40px 10px 0;

    i {
      margin: 0 10px;
    }
  }
}
