<section class="sportscast">
  <div class="container">
    <div class="caption">
      <h2>Rare Items</h2>
    </div>
    <div class="row">
      <div class="col-md-8">
        <ul class="tabs-filter">
          <li><a href="#" class="active"><span>Stports</span></a></li>
          <li><a href="#"><span>Art</span></a></li>
          <li><a href="#"><span>Photography</span></a></li>
          <li><a href="#"><span>Card</span></a></li>
          <li><a href="#"><span>Illustrations</span></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="control">
          <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" role="img" width="22px"
                 height="22px" preserveAspectRatio="xMidYMid
                                    meet" viewBox="0 0 24 24">
              <path fill="white"
                    d="M19 11H7.14l3.63-4.36a1 1 0 1
                                        0-1.54-1.28l-5 6a1.19 1.19 0 0
                                        0-.09.15c0 .05 0 .08-.07.13A1 1 0 0 0 4
                                        12a1 1 0 0 0 .07.36c0 .05 0
                                        .08.07.13a1.19 1.19 0 0 0 .09.15l5 6A1 1
                                        0 0 0 10 19a1 1 0 0 0 .64-.23a1 1 0 0 0
                                        .13-1.41L7.14 13H19a1 1 0 0 0 0-2z"/>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" role="img"
                 width="22px" height="22px"
                 preserveAspectRatio="xMidYMid meet"
                 viewBox="0 0 24 24">
              <path fill="white"
                    d="M19 11H7.14l3.63-4.36a1 1 0 1
                                            0-1.54-1.28l-5 6a1.19 1.19 0 0
                                            0-.09.15c0 .05 0 .08-.07.13A1 1 0 0
                                            0 4 12a1 1 0 0 0 .07.36c0 .05 0
                                            .08.07.13a1.19 1.19 0 0 0 .09.15l5
                                            6A1 1 0 0 0 10 19a1 1 0 0 0
                                            .64-.23a1 1 0 0 0 .13-1.41L7.14
                                            13H19a1 1 0 0 0 0-2z"/>
            </svg>
          </div>

        </div>
      </div>
    </div>
    <div class="swiper mySwiper">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <app-card image="assets/images/image1.png"></app-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <app-card image="assets/images/image2.png"></app-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <app-card image="assets/images/image3.png"></app-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <app-card image="assets/images/image4.png"></app-card>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<section class="our-artwork">
  <div class="container">
    <div class="caption">
      <h2>Our Artworks</h2>
    </div>
    <ul class="tabs-filter">
      <li><a href="#" class="active"><span>Texture</span></a></li>
      <li><a href="#"><span>Stports</span></a></li>
      <li><a href="#"><span>Art</span></a></li>
      <li><a href="#"><span>Photography</span></a></li>
      <li><a href="#"><span>Card</span></a></li>
      <li><a href="#"><span>Illustrations</span></a></li>
    </ul>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image5.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image6.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image7.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image8.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image9.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image10.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image11.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image12.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image13.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image14.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image15.png"></app-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card image="assets/images/image16.png"></app-card>
      </div>
    </div>
    <div class="text-center cta">
      <a href="#" class="btn btn-outline-primary">
        <span>
          <i>
            <img
              src="assets/images/akar-icons_arrow-right.svg"
              class="rotate"
              alt="">
          </i>
          Previous
        </span>
      </a>
      <a href="#" class="btn btn-outline-primary">
        <span>
          Next
          <i>
            <img
              src="assets/images/akar-icons_arrow-right.svg"
              alt="">
          </i>
        </span>
      </a>
    </div>
  </div>
</section>
