<div class="card-product">
  <div class="img-title">
    <img [src]="image" alt=""
         class="w-100">
  </div>
  <div class="cardBody">
    <div class="media">
      <div class="media-body">
        <h4>Zeb Noland White </h4>
        <div class="name">@username</div>
      </div>
      <a href="#"><img
        src="assets/images/more-vertical.svg"
        alt=""></a>
    </div>
    <div class="info-body">
      <div class="media-body">
        <span class="title">2.00 eth</span>
      </div>
      <img src="assets/images/icon-eth.svg"
           alt="">
    </div>
  </div>
  <a href="#" class="w-100 btn btn-primary">Buy Now</a>
</div>
